body {
    background-color: #DDDDDD;
    color: #222222;
    font: 14px Arial;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
}
table td {
    vertical-align: top;
    width: 50%;
    padding-right: 10px;
    color: #222222;
    font: 14px Arial;
    line-height: 150%;
}

a, a:visited {
    color: black;
}

div.content {
    background-color: #FFFFFF;
    -webkit-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
     -moz-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
      -o-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
       box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
    margin: 0 auto;
    max-width: 750px;
    padding: 20px 40px 40px 40px;
}

input, textarea {
    -webkit-transition: all 0.5s ease-in-out 0s;
     -moz-transition: all 0.5s ease-in-out 0s;
       -o-transition: all 0.5s ease-in-out 0s;
          transition: all 0.5s ease-in-out 0s;
    background-color: #FFFFFF;
    border: 2px solid #CCC;
        
    -webkit-border-radius:  5px 5px 5px 5px;
     -moz-border-radius:  5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
       border-radius: 5px 5px 5px 5px;
    display: block;    
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 8px;
    min-height: 30px;
    width: 300px;
}
:focus {
    outline: medium none;
}

input:focus, textarea:focus {
    -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
       transform: scale(1.05);
    -moz-box-shadow: 0 0 25px #CCCCCC;
     -webkit-box-shadow: 0 0 25px #CCCCCC;
      -o-box-shadow: 0 0 25px #CCCCCC;
       box-shadow: 0 0 25px #CCCCCC;
}

input.placeholder, textarea.placeholder {
    color: #CCC;
}

/* for none-HTML5 browsers */
input.required, textarea.required {
    background: url("./asterisk.png") no-repeat scroll 280px 7px transparent;
}
input:required, textarea:required {
    background: url("./asterisk.png") no-repeat scroll 280px 7px transparent;
}
/* for none-HTML5 browsers */
input.valid, textarea.valid {
    background: url("./ok.png") no-repeat scroll 280px 7px transparent;
}
input:valid, textarea:valid {
    background: url("./ok.png") no-repeat scroll 280px 7px transparent;
}
/* for none-HTML5 browsers */
input.invalid, textarea.invalid {
    background: url("./fail.png") no-repeat scroll 280px 7px transparent;
}
input:focus:invalid, textarea:focus:invalid {
    background: url("./fail.png") no-repeat scroll 280px 7px transparent;
}


button {
    border:1px solid #bbb;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -khtml-border-radius:3px;
    background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
    background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
    color:#232d3d;
    font-size:12px;
    font-weight:bold;
    padding:4px 10px;
    margin:0 3px;
    text-shadow:0px 1px 0px #fff;
    cursor:pointer;
    box-shadow:0px 1px 2px #ccc;
    -moz-box-shadow:0px 1px 2px #ccc;
    -webkit-box-shadow:0px 1px 2px #ccc;
    text-align: center;
    font-size: 18px;
}

.custom-validity-tooltip
{
  visibility: visible;
  position: absolute;
  display: inline;
  z-index: 999;
  width: 230px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
.custom-validity-tooltip > div {
    position: relative;
}
.custom-validity-tooltip > div > div {
    position: absolute;
    top: 12px;
    left: 50%;    
    margin-left: -9px;
    background: url("./down.png") no-repeat center center transparent;
    width: 18px;
    height: 9px;
}

var {
    font-weight: bold;
}
textarea.code {
    border: 0;
    background-color: #EEE;
    background-image: none;
    color: #222222;
    font: 14px Arial;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
}

h2 {
    margin-top: 30px;
}
footer > h2 {
    font: 16px Arial;
}
a#download {
    border:1px solid #bbb;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -khtml-border-radius:3px;
    background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
    background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
    color:#232d3d;
    font-size:12px;
    font-weight:bold;
    text-shadow:0px 1px 0px #fff;
    cursor:pointer;
    box-shadow:0px 1px 2px #ccc;
    -moz-box-shadow:0px 1px 2px #ccc;
    -webkit-box-shadow:0px 1px 2px #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px 0;
    display: block;
    max-width: 500px;
    text-decoration: none;
    
}