body {
    background-color: #DDDDDD;
    color: #222222;
    font: 14px Arial;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
}
table td {
    vertical-align: top;
    width: 50%;
    padding-right: 10px;
    color: #222222;
    font: 14px Arial;
    line-height: 150%;
}

a, a:visited {
    color: black;
}

div.content {
    background-color: #FFFFFF;
    -webkit-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
     -moz-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
      -o-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
       box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC, 0 38px 36px -24px #AAAAAA;
    margin: 0 auto;
    max-width: 750px;
    padding: 20px 40px 40px 40px;
}

form input, form textarea {
    -webkit-transition: all 0.5s ease-in-out 0s;
     -moz-transition: all 0.5s ease-in-out 0s;
       -o-transition: all 0.5s ease-in-out 0s;
          transition: all 0.5s ease-in-out 0s;
    background-color: #FFFFFF;
    border: 2px solid #CCC;
        
    -webkit-border-radius:  5px 5px 5px 5px;
     -moz-border-radius:  5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
       border-radius: 5px 5px 5px 5px;
    display: block;    
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 8px;
    min-height: 30px;
    width: 300px;
}
:focus {
    outline: medium none;
}

form input:focus, form textarea:focus {
    -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
       transform: scale(1.05);
    -moz-box-shadow: 0 0 25px #CCCCCC;
     -webkit-box-shadow: 0 0 25px #CCCCCC;
      -o-box-shadow: 0 0 25px #CCCCCC;
       box-shadow: 0 0 25px #CCCCCC;
}

form input.placeholder, form textarea.placeholder {
    color: #CCC;
}

/* for none-HTML5 browsers */
input.required, textarea.required {
    background: url("./asterisk.png") no-repeat scroll 280px 7px transparent;
}
input:required, textarea:required {
    background: url("./asterisk.png") no-repeat scroll 280px 7px transparent;
}
/* for none-HTML5 browsers */
input.valid, textarea.valid {
    background: url("./ok.png") no-repeat scroll 280px 7px transparent;
}
input:valid, textarea:valid {
    background: url("./ok.png") no-repeat scroll 280px 7px transparent;
}
/* for none-HTML5 browsers */
input.invalid, textarea.invalid {
    background: url("./fail.png") no-repeat scroll 280px 7px transparent;
}
input:focus:invalid, textarea:focus:invalid {
    background: url("./fail.png") no-repeat scroll 280px 7px transparent;
}


button {
    border:1px solid #bbb;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -khtml-border-radius:3px;
    background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
    background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
    color:#232d3d;
    font-size:12px;
    font-weight:bold;
    padding:4px 10px;
    margin:0 3px;
    text-shadow:0px 1px 0px #fff;
    cursor:pointer;
    box-shadow:0px 1px 2px #ccc;
    -moz-box-shadow:0px 1px 2px #ccc;
    -webkit-box-shadow:0px 1px 2px #ccc;
    text-align: center;
    font-size: 18px;
}

.tooltip { font-size: 10px; position: absolute; padding: 5px; z-index: 100000;  opacity: 0.8; filter:alpha(opacity:80); }

.tooltip-inner { background-color: #333; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tooltip-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }


.tooltip-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tooltip-arrow-n { border-bottom-color: #000; }
.tooltip-arrow-s { border-top-color: #000; }
.tooltip-arrow-e { border-left-color: #333; }
.tooltip-arrow-w { border-right-color: #000; }

.tooltip-n .tooltip-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tooltip-nw .tooltip-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tooltip-ne .tooltip-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tooltip-s .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tooltip-sw .tooltip-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tooltip-se .tooltip-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tooltip-e .tooltip-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tooltip-w .tooltip-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }


var {
    font-weight: bold;
}
textarea.code {
    border: 0;
    background-color: #EEE;
    background-image: none;
    color: #222222;
    font: 14px Arial;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
}

h2 {
    margin-top: 30px;
}
footer > h2 {
    font: 16px Arial;
}
a#download {
    border:1px solid #bbb;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -khtml-border-radius:3px;
    background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
    background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
    color:#232d3d;
    font-size:12px;
    font-weight:bold;
    text-shadow:0px 1px 0px #fff;
    cursor:pointer;
    box-shadow:0px 1px 2px #ccc;
    -moz-box-shadow:0px 1px 2px #ccc;
    -webkit-box-shadow:0px 1px 2px #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px 0;
    display: block;
    max-width: 500px;
    text-decoration: none;
    
}