body {
    background-color: #DDDDDD;
    background-repeat: no-repeat;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 115px 0 0 0;
    line-height: 150%;
}
a, a:visited {
    color: #0090FF;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
}
a:hover {
    background: #0090FF;
    color: white;
    text-decoration: none;
}
.hidden {
    display: none;
}
body > header {
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    height: 115px;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    z-index: 9999;
}
body > header > div {
    position: relative;
    width: 880px;
    padding: 0px 30px;
    margin: 0 auto;
    color: #fff;
}
header hgroup {
    font-family: 'Berkshire Swash', cursive, Helvetica,Arial,sans-serif;
    text-shadow: 0 -3px #111111;
    padding: 20px 0px;
}
header h1 {
    font-size: 38px;
    margin: 0;
    line-height: 120%;
}
header h2 {
    font-size: 20px;
    margin: 3px;
}
header nav {
    display: none;
}
body > section {
    width: 880px;
    min-height: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 30px;
    -moz-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC;
    -webkit-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC;
    -o-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC;
    -ms-box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC;
    box-shadow: 4px 0 10px #CCCCCC, -4px 0 10px #CCCCCC;
}
body > footer {
    background: #212121;
    background: -moz-linear-gradient(top, #212121, #373737);
    background: -webkit-linear-gradient(top, #212121, #373737);
    background: -ms-linear-gradient(top, #212121, #373737);
    background: -o-linear-gradient(top, #212121, #373737);
    background: linear-gradient(top, #212121, #373737);
    -moz-box-shadow: 0 5px 5px 0px #111 inset;
    -webkit-box-shadow: 0 5px 5px 0px #111 inset;
    -o-box-shadow: 0 5px 5px 0px #111 inset;
    -ms-box-shadow: 0 5px 5px 0px #111 inset;
    box-shadow: 0 5px 5px 0px #111 inset;
    text-shadow: 0 -1px #111111;
    top: 0;
    left:0;
    right: 0;
}
body > footer > article {
    color: #868686;
    width: 880px;
    font-size: 12px;
    padding: 20px 30px;
    margin: 0 auto;
}
body > footer > article p {
    margin: 0;
}
body > footer > article a, body > footer > article a:visited {
    color: #fff;
}
article h2 {
    font-size: 18px;
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}
article h3 {
    font-size: 16px;
    font-weight: normal;
}
article h4 {
    font-size: 14px;
    font-weight: bold;
}
body > header a.fork {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -o-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    right: 0;
    background-color: #0090FF;
    top: 0;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
body > header a.fork:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    -o-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}
.download {
    text-align: center;
    padding: 30px 0;
}
.download > a,
.download > a:visited {
    color: white;
}


ol, ul {
    list-style: none outside none;
}
textarea.code {
    border: 0;
    background-color: #ddd;
    box-shadow: 0px 0px 5px #333333 inset;
    -moz-box-shadow: 0px 0px 5px #333333 inset;
    -webkit-box-shadow: 0px 0px 5px #333333 inset;
    -o-box-shadow: 0px 0px 5px #333333 inset;
    -ms-box-shadow: 0px 0px 5px #333333 inset;
    color: #222222;
    font: 14px Courier New;
    display: block;
    height: auto;
    padding: 10px;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
dfn {
    font-weight: bold;
}

.image {
    -moz-box-shadow: 0 28px 26px -24px #AAAAAA;
    -webkit-box-shadow: 0 28px 26px -24px #AAAAAA;
    -o-box-shadow: 0 28px 26px -24px #AAAAAA;
    -ms-box-shadow: 0 28px 26px -24px #AAAAAA;
    box-shadow: 0 28px 26px -24px #AAAAAA;
    margin-bottom: 20px;
}

section.column {
    width: 50%;
    float: left;
}

form fieldset {
    border: 1px solid #BBBBBB;
    margin: 0 5px 0 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    text-align: left;
}
fieldset input[type=radio] {
    margin-right: 4px;
}

form  ul {
    list-style: none;
    padding: 0;
    margin: 5px;
}
form  ul li {
    padding: 0;
    margin-bottom: 5px;
}

dl {
    padding: 0;
}
dt {
    font-weight: bold;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
dd {
    display: inline-block;
    vertical-align: top;
    width: 600px;
}
.table {
    display: table;
    width: 100%;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
}
.td.example {
    width: 304px;
}
.td.desc {
    padding-left: 30px;
}

form input, form textarea {
    -webkit-transition: -webkit-transform 0.2s ease-in-out 0s;
     -moz-transition: -moz-transform 0.2s ease-in-out 0s;
      -ms-transition: -ms-transform 0.2s ease-in-out 0s;
       -o-transition: -o-transform 0.2s ease-in-out 0s;
          transition: transform 0.2s ease-in-out 0s;
    background-color: #FFFFFF;
    border: 2px solid #CCC;

    -webkit-border-radius:  5px 5px 5px 5px;
     -moz-border-radius:  5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
       border-radius: 5px 5px 5px 5px;

    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 8px;
    min-height: 30px;
    width: 300px;
}
form input {
    width: 275px;
    padding-right: 25px;
}
:focus {
    outline: medium none;
}

form input:focus, form textarea:focus {
    -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
       transform: scale(1.05);
    -moz-box-shadow: 0 0 25px #CCCCCC;
     -webkit-box-shadow: 0 0 25px #CCCCCC;
      -ms-box-shadow: 0 0 25px #CCCCCC;
      -o-box-shadow: 0 0 25px #CCCCCC;
       box-shadow: 0 0 25px #CCCCCC;
}

::-webkit-input-placeholder,
:-moz-placeholder {
    color: #CCC;
}

form input.placeholder,
form textarea.placeholder {
    color: #CCC;
}



input:valid,
input:required,
input:focus:invalid {
    background-image: url("./field-marks.png");
    background-repeat: no-repeat;
    background-position: 280px 7px;
    background-color: transparent;
}

input.required,
input.valid,
input.invalid {
    background-image: url("./field-marks.png");
    background-repeat: no-repeat;
    background-position: 280px 7px;
    background-color: transparent;
}

input:required {
    background-position: 280px 0px;
}
input:valid {
    background-position: 280px -32px;
}

input:required:focus:invalid,
input:focus:invalid {
    background-position: 280px -64px;
}

input.required {
    background-position: 280px 0px;
}

input.valid {
    background-position: 280px -32px;
}

input.required.focus.invalid,
input.focus.invalid {
    background-position: 280px -64px;
}

/* Get rid of Firefox red glow */
:-moz-ui-invalid,
:invalid,
:-moz-submit-invalid {
    box-shadow: none;
}

:focus:-moz-ui-invalid,
:focus:invalid,
:focus:-moz-submit-invalid {
    -moz-box-shadow: 0 0 25px #CCCCCC;
     -webkit-box-shadow: 0 0 25px #CCCCCC;
      -ms-box-shadow: 0 0 25px #CCCCCC;
      -o-box-shadow: 0 0 25px #CCCCCC;
       box-shadow: 0 0 25px #CCCCCC;
}


div.help-inline {
    height: 12px;
    color: red;
    position: relative;
}
div.help-inline > div {
    width: 300px;
    position: absolute;
    height: 12px;
    top: -16px;
}

.tooltip {
    font-size: 10px;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    -khtml-opacity: 0.8;
      -moz-opacity: 0.8;
           opacity: 0.8;
           filter: alpha(opacity=80);
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.tooltip-inner { background-color: #333; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tooltip-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }


.tooltip-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tooltip-arrow-n { border-bottom-color: #000; }
.tooltip-arrow-s { border-top-color: #000; }
.tooltip-arrow-e { border-left-color: #333; }
.tooltip-arrow-w { border-right-color: #000; }

.tooltip-n .tooltip-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tooltip-nw .tooltip-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tooltip-ne .tooltip-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tooltip-s .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tooltip-sw .tooltip-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tooltip-se .tooltip-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tooltip-e .tooltip-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tooltip-w .tooltip-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }





/**
 * Injection from:
 * Bootstrap v2.0.2
 * Copyright 2012 Twitter, Inc
 */


.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    text-decoration: none;
}
.btn:hover,
.btn:active,
.btn[disabled] {
    background-color: #e6e6e6;
}
.btn:active {
    background-color: #cccccc \9;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    outline: 0;
}
.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    background-color: #e6e6e6;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-inverse,
.btn-inverse:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-inverse {
    background-color: #414141;
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: -ms-linear-gradient(top, #555555, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse[disabled] {
    background-color: #222222;
}
.btn-inverse:active {
    background-color: #080808 \9;
}


input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="color"] {
/*  border: none;*/
}
input[type="datetime"]:required,
input[type="datetime-local"]:required,
input[type="date"]:required,
input[type="month"]:required,
input[type="time"]:required,
input[type="week"]:required,
input[type="color"]:required {
    background: none;
}
input[type="datetime"]:valid,
input[type="datetime-local"]:valid,
input[type="date"]:valid,
input[type="month"]:valid,
input[type="time"]:valid,
input[type="week"]:valid,
input[type="color"]:valid {
    background: none;
}

input[type="datetime"]:focus:invalid,
input[type="datetime-local"]:focus:invalid,
input[type="date"]:focus:invalid,
input[type="month"]:focus:invalid,
input[type="time"]:focus:invalid,
input[type="week"]:focus:invalid,
input[type="color"]:focus:invalid {
    background: none;
}

var {
    font-style: inherit;
    color: white;
    background:#F72;
    padding: 0px 5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);

    -webkit-border-radius:5px;
            border-radius:5px;

    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
}

article > ul {
    list-style:  square;
}
button.btn {
    outline : 0;
    -moz-outline : 0;
    border : 0
}